# SPDX-License-Identifier: GPL-3.0-or-later
# Installed and removed only with the project-native sfs driver.
# Escape the UDisks caller placeholders through udev; never hard-code a user.
ACTION=="add|change", SUBSYSTEM=="block", ENV{ID_FS_TYPE}=="sfs", ENV{ID_FS_USAGE}="", ENV{ID_FS_TYPE}="", ENV{ID_FS_VERSION}="", ENV{ID_FS_LABEL}="", ENV{ID_FS_LABEL_ENC}="", ENV{ID_FS_BLOCK_SIZE}="", ENV{UDISKS_NAME}="", ENV{UDISKS_ICON_NAME}="", ENV{UDISKS_SYMBOLIC_ICON_NAME}="", ENV{UDISKS_MOUNT_OPTIONS_DEFAULTS}="", ENV{UDISKS_MOUNT_OPTIONS_ALLOW}=""
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition|disk", IMPORT{program}="/usr/bin/fsinspect --udev --filesystem sfs /dev/%k"
ENV{ID_FS_TYPE}=="sfs", RUN+="/sbin/modprobe -q sfs"
ENV{ID_FS_TYPE}=="sfs", ENV{ID_FS_LABEL}=="", ENV{UDISKS_NAME}="Amiga SFS"
ENV{ID_FS_TYPE}=="sfs", ENV{UDISKS_ICON_NAME}="drive-harddisk", ENV{UDISKS_SYMBOLIC_ICON_NAME}="drive-harddisk-symbolic"
ENV{ID_FS_TYPE}=="sfs", ENV{UDISKS_MOUNT_OPTIONS_DEFAULTS}="nodev,nosuid,setuid=$$UID,setgid=$$GID", ENV{UDISKS_MOUNT_OPTIONS_ALLOW}="setuid=$$UID,setgid=$$GID,exec,noexec,nodev,nosuid,atime,noatime,nodiratime,relatime,strictatime,lazytime,ro,sync,dirsync,nosymfollow,rw"
