# SPDX-License-Identifier: GPL-3.0-or-later
# Export filesystem identity for Amiga formats not recognized by stock blkid.
# Run before the normal persistent-storage rules so UDisks/GNOME Disks see
# ID_FS_TYPE and can dispatch mounts to the project-native kernel modules.

ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", IMPORT{program}="/usr/lib/infiltrator-filesystem-support/amiga-fs-identify /dev/%k"
ACTION=="add|change", SUBSYSTEM=="block", ENV{DEVTYPE}=="disk", IMPORT{program}="/usr/lib/infiltrator-filesystem-support/amiga-fs-identify /dev/%k"

ENV{ID_FS_TYPE}=="ofs", RUN+="/sbin/modprobe -q ofs"
ENV{ID_FS_TYPE}=="ffs", RUN+="/sbin/modprobe -q ffs"
ENV{ID_FS_TYPE}=="sfs", RUN+="/sbin/modprobe -q sfs"
ENV{ID_FS_TYPE}=="sfs2", RUN+="/sbin/modprobe -q sfs2"
ENV{ID_FS_TYPE}=="pfs3", RUN+="/sbin/modprobe -q pfs3"
